{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/w3.js' %}"></script>
</head>
<body bg="bg.jpg">
    <script>
        
    $(document).ready(function(){
    $("#mainform").hide();
  });
  $("newplan").click(function(){
  $("#mainform").show();
});


 
  // the hide and show effect is not working for unknown reason
    </script>
    <button id="newplan" class="w3-button w3-green w3-margin w3-padding w3-block">Add New Plan</button>

    <form method="POST" action="{% url 'home' %}" id="mainform">
        {% csrf_token %}
        <input class="w3-input w3-text-blue w3-margin w3-padding" type="text" name="name" placeholder="Enter Plan Name">
        <textarea class="w3-input w3-text-blue w3-margin w3-padding" name="detail" id="" cols="30" rows="10" placeholder="Enter Details for your paln Here"></textarea>
        <button id="dropper" class="w3-button w3-yellow w3-margin w3-padding">Add To List</button>
<!-- automatically fetch the current time and store in the database -->

    </form>

<div class="w3-container w3-margin w3-background-red w3-padding">
   {% for item in all %}
   <div class="w3-container w3-table">{{ item }}
     <form action="{% url 'deletePlan' item.id %}" method="POST">
    </form>
    <button type="submit" class="w3-button w3-red w3-right w3-margin">Delete</button>
    <button class="w3-button w3-yellow w3-right w3-margin">Pending</button>
    <button class="w3-button w3-green w3-right w3-margin">Details</button>

  <!-- if the completed button is clicked is should turn green say and completed -->
   </div> {% endfor %}

    
</body>
</html>